<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/about-us.css" rel="stylesheet" />

</head>
<body>

<div class="header">
    <h1>About Us</h1>
</div>
<div class="nav">
    <a href="#" th:href="@{/about}">About Us</a>
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
    <a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
    <a href="#" th:href="@{/}" sec:authorize="isAuthenticated()">Home</a>
    <a href="#" th:href="@{/admin}" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Admin</a>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" sec:authorize="isAuthenticated()">
    </form>
</div>
<div class="content">
    <h2>Welcome to Car Rental</h2>
    <p>
        At Car Rental, we are committed to providing the best car rental experience to our customers. With a wide selection of vehicles and affordable rates, we ensure that you find the perfect car for your needs. Whether you are planning a weekend getaway or need a reliable vehicle for your business trip, we've got you covered.
    </p>

    <h2>Our Mission</h2>
    <p>
        Our mission is to offer top-notch customer service, ensuring that every client is satisfied with their rental experience. We strive to make car rental easy, convenient, and accessible for everyone.
    </p>

    <h2>Our Team</h2>
    <p>
        Meet the dedicated team behind Car Rental. We are passionate about what we do and are here to assist you with all your car rental needs.
    </p>

    <div class="team-section">
        <div class="team-member">
            <h3>John Doe - CEO</h3>
            <p>
                John is the founder and CEO of Car Rental. With over 15 years of experience in the automotive industry, John has a vision to make car rental more accessible and customer-friendly.
            </p>
        </div>

        <div class="team-member">
            <h3>Jane Smith - Customer Service Manager</h3>
            <p>
                Jane leads our customer service team, ensuring that every customer interaction is handled with care and professionalism.
            </p>
        </div>

        <div class="team-member">
            <h3>Robert Brown - Fleet Manager</h3>
            <p>
                Robert is responsible for managing our diverse fleet of vehicles. His attention to detail ensures that every car is in top condition and ready for your next trip.
            </p>
        </div>
    </div>
</div>

</body>
</html>
