<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="/css/about-us.css" rel="stylesheet"/>

</head>
<body>

<div class="container mt-5">
    <div class="header text-center mb-4">
        <h1>About Us</h1>
    </div>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">CarRental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#" th:href="@{/user/profile}">User profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole( 'ADMIN')">
                        <a class="nav-link" href="#" th:href="@{/admin}">Admin</a>
                    </li>
                </ul>

                <!-- Logout Form -->
                <form class="d-flex" action="#" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn btn-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="col-md-8 mx-auto team-member mb-4">
            <div class="card text-center">
                <h2>Welcome to Car Rental</h2>
                <p>
                    Thank you for choosing our car rental service! We are delighted to have you with us and are
                    dedicated to making your experience as smooth and enjoyable as possible.
                    Our team is always here to assist you, ensuring that every step of your rental journey meets
                    your
                    expectations.
                </p>
            </div>
        </div>
        <div class="row team-section">
            <div class="col-md-8 mx-auto team-member mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Our Mission</h2>
                        <p>
                            Our mission is to deliver exceptional customer service, ensuring every client enjoys a
                            seamless and
                            satisfying rental experience.
                            We aim to make car rentals simple, convenient, and accessible for all.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-section">
            <div class="col-md-8 mx-auto team-member mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Our Team</h2>
                        <p>
                            Meet the committed team behind Car Rental. We are passionate about our work and ready to
                            assist you with
                            all your car rental needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

