<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <h1>Car Details</h1>
</div>

<div class="nav">
    <a href="#" th:href="@{/about}">About Us</a>
    <a href="#" th:href="@{/}">Home</a>
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
    <a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
    <a href="#" th:href="@{/user/profile}" sec:authorize="isAuthenticated()">User profile</a>
    <a href="#" th:href="@{/admin}" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Admin</a>
    <a href="#" th:href="@{/car/addCar}" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Add a car</a>

    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" sec:authorize="isAuthenticated()">
    </form>
</div>

<div class="car-details">
    <img th:src="${car.photoUrl}" alt="Car Image" style="width: 100%; height: auto;"/>
    <h3 th:text="${car.name} + ' ' + ${car.model}"></h3>
    <p>Year: <span th:text="${car.year}"></span></p>
    <p>Seats: <span th:text="${car.seats}"></span></p>
    <p>Capacity: <span th:text="${car.capacity}"></span> L</p>
    <p>Min. Driver Age: <span th:text="${car.minimumDriverAge}"></span> years</p>
    <p class="price" th:text="'$' + ${car.price}"></p>

    <p th:if="${errorMessage}" style="color:red;" th:text="${errorMessage}"></p>

    <!-- Display unavailable dates -->
    <h4>Unavailable Dates:</h4>
    <ul>
        <li th:each="rental : ${rentals}">
            <span th:text="'From ' + ${rental.pickupDate} + ' to ' + ${rental.returnDate}"></span>
        </li>
    </ul>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{'/car/' + ${car.id} + '/rent'}" method="post">
            <!-- Pickup Date -->
            <label for="pickupDate">Pickup Date:</label>
            <input type="date" id="pickupDate" name="pickupDate" required>

            <!-- Return Date -->
            <label for="returnDate">Return Date:</label>
            <input type="date" id="returnDate" name="returnDate" required>

            <button type="submit" th:if="${!isRented}" class="rent-button">Rent This Car</button>
            <p th:if="${isRented}">Car rented.</p>
        </form>
    </div>

    <!-- Edit and Delete Buttons for Car Owner -->
    <div sec:authorize="isAuthenticated()">
        <div th:if="${car.owner.id == currentUserId}">
        <a th:href="@{/car/showCarFormForUpdate(id=${car.id})}" class="btn btn-warning">Edit Car</a>
            <form th:action="@{/car/delete(id=${car.id})}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this car?');">Delete Car</button>
            </form>
        </div>
    </div>

    <!-- display all the car photos -->
    <h3>Additional Photos:</h3>
    <div class="photo-gallery">
        <div th:each="photo : ${photos}">
            <img th:src="${photo.url}" alt="Car Photo" class = "photo-gallery-img"/>
        </div>
    </div>
</div>

<a href="#" th:href="@{/}">Back to Car List</a>

</body>
</html>
