<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Error</title>

  <!-- css and bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-danger">Oops! Something went wrong.</h1>
    <p class="lead">We apologize for the inconvenience. It seems something has gone wrong.</p>
  </div>

  <nav class="nav justify-content-center mb-4">
    <a class="nav-link" href="#" th:href="@{/about}">About Us</a>
    <a class="nav-link" href="#" th:href="@{/}">Home</a>
    <a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
    <a class="nav-link" href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
    <a class="nav-link" href="#" th:href="@{/user/profile}" sec:authorize="isAuthenticated()">User Profile</a>
    <a class="nav-link" href="#" th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
    <a class="nav-link" href="#" th:href="@{/car/addCar}" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Add a Car</a>

    <form action="#" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
      <button class="btn btn-outline-danger" type="submit">Logout</button>
    </form>
  </nav>

  <div class="text-center">
    <p class="text-muted" th:text="${errorMessage}">An unexpected error has occurred.</p>
    <a href="/" class="btn btn-primary">Back to Home</a>
  </div>
</div>

<!-- bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
