<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Car Rental - Home</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <h1>Welcome to CarRental</h1>
</div>

<div class="nav">
    <a href="#" th:href="@{/about}">About Us</a>
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
    <a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
    <a href="#" th:href="@{/user/profile}" sec:authorize="isAuthenticated()">User profile</a>
    <a href="#" th:href="@{/admin}" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Admin</a>
    <a href="#" th:href="@{/car/addCar}" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Add a car</a>

    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" sec:authorize="isAuthenticated()">
    </form>
</div>

<div class="main-content">
    <h2>Rent the Best Cars at Affordable Prices!</h2>
    <p>Choose from our wide selection of vehicles to find the perfect match for your journey.</p>

    <!-- Search Bar -->
    <form method="get" th:action="@{/}" class="search-bar" sec:authorize="isAuthenticated()">
        <input type="text" name="search" placeholder="Search by name..." />
        <input type="submit" value="Search" />
    </form>

    <div class="filter-and-list" >
        <div class="filter" sec:authorize="isAuthenticated()">
            <h3>Filter Cars</h3>
            <form method="get" th:action="@{/}">
                <label for="minPrice">Min Price:</label>
                <input type="number" id="minPrice" name="minPrice" placeholder="0" />

                <label for="maxPrice">Max Price:</label>
                <input type="number" id="maxPrice" name="maxPrice" placeholder="100000" />

                <label for="minSeats">Min Seats:</label>
                <input type="number" id="minSeats" name="minSeats" placeholder="1" />

                <label for="maxSeats">Max Seats:</label>
                <input type="number" id="maxSeats" name="maxSeats" placeholder="10" />

                <input type="submit" value="Filter" />
            </form>
        </div>

        <!-- Car List -->
        <div class="car-list" id="carList">
            <div class="car-item" th:each="car : ${cars}">
                <a th:href="@{/car/{id}(id=${car.id})}">
                    <img th:src="${car.photoUrl}" alt="Car Image">
                    <h3 th:text="${car.name} + ' ' + ${car.model}"></h3>
                    <p>Year: <span th:text="${car.year}"></span></p>
                    <p>Seats: <span th:text="${car.seats}"></span></p>
                    <p>Capacity: <span th:text="${car.capacity}"></span> L</p>
                    <p>Min. Driver Age: <span th:text="${car.minimumDriverAge}"></span> years</p>
                    <p class="price" th:text="'$' + ${car.price}"></p>
                </a>
            </div>
        </div>

    </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>
