<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User Profile</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--    css and bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/user-page.css" rel="stylesheet"/>
</head>
<body>
<!-- header -->
<div class="header">
    <h1>User Profile</h1>
</div>

<!-- navigation -->
<nav class="nav navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">CarRental</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/about}">About Us</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="#"
                                                                           th:href="@{/login}">Login</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="#"
                                                                           th:href="@{/register}">Register</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="#"
                                                                          th:href="@{/}">Home</a></li>
                <li class="nav-item" sec:authorize="hasAnyRole('SELLER', 'ADMIN')"><a class="nav-link" href="#"
                                                                                      th:href="@{/admin}">Admin</a></li>
            </ul>
            <form class="d-flex" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button class="btn btn-logout" type="submit">Logout</button>
            </form>

        </div>
    </div>
</nav>

<!-- user profile -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:text="${user.firstName} + ' ' + ${user.lastName}"></h2>
            <p><strong>Username:</strong> <span th:text="${user.userName}"></span></p>
            <p><strong>Email:</strong> <span th:text="${user.userDetail.email}"></span></p>
            <p><strong>Phone Number:</strong> <span th:text="${user.userDetail.phoneNumber}"></span></p>
            <p><strong>City:</strong> <span th:text="${user.userDetail.city}"></span></p>
            <p><strong>Country:</strong> <span th:text="${user.userDetail.country}"></span></p>
            <p><strong>Role:</strong> <span th:text="${user.getRoles()}"></span></p>
            <a href="#" th:href="@{/user/edit-profile}" class="btn btn-primary mt-3">Edit Profile</a>
        </div>
    </div>
</div>

<!-- owned cars-->
<div class="container mt-5">
    <h3 sec:authorize="hasAnyRole('SELLER', 'ADMIN')">Owned Cars</h3>
    <div class="row" sec:authorize="hasAnyRole('SELLER', 'ADMIN')">
        <div th:if="${not #lists.isEmpty(ownedCars)}" class="d-flex flex-wrap">
            <div class="col-md-4 mb-4 car-item" th:each="car : ${ownedCars}">
                <div class="card h-100">
                    <a th:href="@{/car/{id}(id=${car.id})}" style="text-decoration: none; color: inherit;">
                        <img th:src="${car.photoUrl}" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${car.name} + ' ' + ${car.model}"></h5>
                            <p class="card-text">Year: <span th:text="${car.year}"></span></p>
                            <p class="card-text">Seats: <span th:text="${car.seats}"></span></p>
                            <p class="card-text">Capacity: <span th:text="${car.capacity}"></span> L</p>
                            <p class="card-text">Min. Driver Age: <span th:text="${car.minimumDriverAge}"></span> years
                            </p>
                            <p class="card-text text-primary fw-bold" th:text="'$' + ${car.price}"></p>
                        </div>
                    </a>

                    <!-- rented dates for owned cars -->
                    <div th:each="rental : ${rentals}" th:if="${rental.car.id == car.id}">
                        <p><strong>Rented From:</strong> <span th:text="${rental.pickupDate}"></span>
                            <strong> To:</strong> <span th:text="${rental.returnDate}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(ownedCars)}" class="alert alert-info">
            No owned cars found.
        </div>
    </div>
</div>

<!-- rented cars -->
<div class="container mt-5">
    <h3>Rented Cars</h3>
    <div class="row">
        <div th:if="${not #lists.isEmpty(rentedCars)}" class="d-flex flex-wrap">
            <div class="col-md-4 mb-4 car-item" th:each="car : ${rentedCars}">
                <div class="card h-100">
                    <a th:href="@{/car/{id}(id=${car.id})}" style="text-decoration: none; color: inherit;">
                        <img th:src="${car.photoUrl}" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${car.name} + ' ' + ${car.model}"></h5>
                            <p class="card-text">Year: <span th:text="${car.year}"></span></p>
                            <p class="card-text">Seats: <span th:text="${car.seats}"></span></p>
                            <p class="card-text">Capacity: <span th:text="${car.capacity}"></span> L</p>
                            <p class="card-text">Min. Driver Age: <span th:text="${car.minimumDriverAge}"></span> years
                            </p>
                            <p class="card-text text-primary fw-bold" th:text="'$' + ${car.price}"></p>
                        </div>
                    </a>
                    <div th:each="rental : ${rentals}" th:if="${rental.car.id == car.id}">
                        <p><strong>Rented From:</strong> <span th:text="${rental.pickupDate}"></span>
                            <strong> To:</strong> <span th:text="${rental.returnDate}"></span></p>
                    </div>
                    <form th:action="@{/car/{id}/remove-rented-car(id=${car.id})}" method="post" class="mt-3">
                        <button type="submit" class="btn btn-danger">Remove Rented Car</button>
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(rentedCars)}" class="alert alert-info">
            No rented cars found.
        </div>
    </div>
</div>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
