body {
    min-height: 100vh;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb, #90caf9) fixed;
    background-size: cover;
    padding: 20px;
}

/* for header */
h2 {
    color: #0277bd;
    margin-bottom: 30px;
}

h3 {
    color: #2196F3;
    margin-top: 40px;
    margin-bottom: 15px;
}

table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #2196F3;
    color: white;
}

tbody tr:hover {
    background-color: rgba(33, 150, 243, 0.1);
}


.btn-warning {
    background-color: #ff9800;
    border: none;
}

.btn-warning:hover {
    background-color: #fb8c00;
}

.btn-danger {
    background-color: #f44336;
    border: none;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.nav {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}